@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap');

:root {
    --cf-fcolor: #F86526; /* critical force font color */
    --cf-bgcolor: #0B2D3C; /* critical force background color */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--cf-bgcolor);
}

header h1, a {
    color: var(--cf-fcolor);
    font-family: WDXL Lubrifont JP N;
    text-decoration: none;
} 

header ul {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    list-style: none;
}

header li > a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

header li > a:hover {
    text-decoration: underline 3px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    /* gap: 20px; */
}

.left__container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left__container img {
    width: 150px;
}

.left__container input {
    padding: 10px;
    border: 1px solid var(--cf-fcolor);
    border-radius: 5px;
}

.left__container select {
    border: 1px solid var(--cf-fcolor);
    border-radius: 5px;
    background-color: transparent;
}

.right__container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right__container img {
    width: 150px;
}

.right__container p {
    text-wrap: pretty;
}

.right__container select {
    border: 1px solid var(--cf-fcolor);
    border-radius: 5px;
    background-color: transparent;
}